html,body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,s,i,img,a,dl,dt,dd,p,input,select,
option,span,form,label,pre,fieldset, textarea,header,footer,nav{margin: 0;padding: 0;font-weight: normal;}
html,body{width: 100%;margin:0 auto;height:auto;font-family:PingFang-SC-Bold,Arial,Helvetica,STHeiTi,sans-serif;color: #000;}
em,i{font-style:normal;}
img{border: none;width:100%;vertical-align: top;}
strong,h4,h5{font-weight: normal;}
ul,ol{list-style:none;}
input,textarea,select,option,button{font-family:"STXihei", Arial, Helvetica, sans-serif;resize:none;background:none;
    outline: none;border: none;border-radius:0;-webkit-appearance: none;background-color:transparent;}
input[type=checkbox]{-webkit-appearance:checkbox;}
*{-webkit-tap-highlight-color: rgba(0,0,0,0);}
html{font-size:20px;background:#eee;}
body{ background: #f0f0f0; -webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;overflow-x:hidden;padding-bottom: constant(safe-area-inset-bottom);padding-bottom: env(safe-area-inset-bottom);}

a{text-decoration:none;font-size:100%;color:#333;outline: none;}
::-webkit-input-placeholder{font-size:12px;color:#ccc;} 
:-ms-input-placeholder{font-size:12px;color:#ccc;} 
.fr{float: right;}
.fl{float: left;}
.clearFix{overflow: auto;}
.pa{position: absolute;}
.pr{position: relative;}
.tr{text-align: right;}
.ofellipsis{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.ofellipsis2{display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;overflow: hidden;}

.bdb{position:relative;}
.bdb:after{position: absolute;right: 0;bottom: 0;left:0;height: 1px;content: '';-webkit-transform: scaleY(.5);transform: scaleY(.5);background-color: #ddd;}
.bdt{position:relative;}
.bdt:before{position: absolute;right: 0;top: 0;left:0;height: 1px!important;content: '';-webkit-transform: scaleY(.5);transform: scaleY(.5);background-color: #ddd;}


.wbox {display: -webkit-flex;display: -webkit-box;display: box;display: flex;}
.wbox-flex {-webkit-flex: 1!important;-webkit-box-flex: 1;}
.pdl{padding-left:30px;}

